.yq-index-item>a {
    line-height: 2em;
    margin: 2px 0 0 2.5em;
    background: rgba(0,0,0,.5);
    color: #fff;
    border-radius: 2em;
    padding: 0 1.25em;
    line-height: 2.142em;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 400;
    display: inline-block;
    transition: .2s;
    position: relative;
    float: left;
    clear: both;
    text-decoration: none;
    cursor: pointer;
}

.yq-index-item>a i{
    background: #fff;
    color: #3697d1;
    padding: 0.5em 0.7em;
    box-shadow: 0 1.5px 3px rgba(0,0,0,.25);
    border-radius: 2em;
    width: 2.142em;
    height: 2.142em;
    position: absolute;
    left: -2.5em;
    overflow: hidden;
    transition: .2s;
}
.yq-index-item>a:hover {
    background: #000;
    color: #fff;
}
.yq-index-default {
	height: auto;
	line-height: 1.875em;
	color: #fff;
    height: 1.875em;
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    position: absolute;
	left: 0.5em;
	bottom: -2.5em;
    z-index: 2;
    font-weight: 400;
    white-space: nowrap;
	text-shadow: 0 0 3px rgba(0,0,0,.5), 1px 1px 3px rgba(0,0,0,.5);
    font-weight: 400;
}
/** 模式按钮 */
.yq-index-default>button{
    z-index: 3;
    width: 90%;
    font-family: inherit;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 400;
    border-radius: 2em;
    background-color: #3697d1;
    line-height: 2.142em;
    padding: 0 1.25em;
    border: none;
    -webkit-appearance: none;
}
/* 地图放大缩小空间 */
.mapboxgl-ctrl-group {
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: transparent;
}
.mapboxgl-ctrl-group > button,.mapboxgl-ctrl-group > button:hover,.mapboxgl-ctrl-group > button:focus,.mapboxgl-ctrl-group > button:focus {
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em;
    border-radius: 2.5em !important;
    border: none !important;
    background-color: #fff !important;
}
